<div class="row">
  <div class="container">
    <br />
    <div class="jumbotron">
      <h1><strong> ¡Tenemos lo que Necesitas¡</strong></h1>
      <p>A continuación tenemos unas ofertas especiales acordes a tus compras recientes</p>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"> <strong>Oferta 1</strong> </div>
      <div class="panel-body">
        <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Micro-Seguro de Viaje </p>
        <p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 50000 </p>
        <p><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Cobertura hasta por una semana</p>
        <button class="btn btn-primary" (click)="onTakeit()">Tomar</button>
      </div>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading"> <strong>Oferta 2</strong> </div>
      <div class="panel-body">
        <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Oferta en superMarket </p>
        <p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 20% de descuento en trajes de baño </p>
        <button class="btn btn-primary" (click)="onTakeit()">Tomar</button>
      </div>
    </div>
  </div>
</div>