<div class="row">
    <div class="container">
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <div class="panel panel-info">
                    <div class="panel-heading"> <strong> Algunos Datos Personales </strong></div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">
                            <label>Documento</label>
                            <input type="file" formControlName="firstCtrl" required>
                            <br />
                            <mat-form-field>
                                <input matInput placeholder="¿Nombre Favorito?" [(ngModel)]="name" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button class="btn btn-primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>

            <mat-step [stepControl]="firstFormGroup">
                <div class="panel panel-info">
                    <div class="panel-heading"> <strong>Datos de Contacto</strong> </div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">
                            <mat-form-field>
                                <input matInput placeholder="Correo Electrónico" type="email" [(ngModel)]="email"
                                    formControlName="firstCtrl" required>
                            </mat-form-field>
                            <br />
                            <mat-form-field>
                                <input matInput placeholder="Celular" type="number" [(ngModel)]="cel" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                                <button class="btn btn-primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>


            <mat-step [stepControl]="firstFormGroup">
                <div class="panel panel-info">
                    <div class="panel-heading"> <strong>¿Cuál es tu Ingreso Mensual?</strong> </div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">
                            <label>Soporte de Ingresos</label>
                            <input type="file" formControlName="firstCtrl" required>
                            <br />
                            <div>
                                <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                                <button class="btn btn-primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>


            <mat-step>
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Confirmanos, {{name}}</strong></div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">

                            <div class="alert alert-info" role="alert">
                                <h5><strong>Correo Electrónico:</strong> {{email}}</h5>
                                <h5><strong>Celular:</strong> {{cel}}</h5>
                            </div>
                            <div class="alert alert-warning" role="alert">
                                *Enviaremos un mensaje de texto para continuar.
                            </div>

                            <div>
                                <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                                <button class="btn btn-success" matStepperNext>Enviar</button>
                                <button class="btn btn-danger" (click)="stepper.reset()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>

            <mat-step [stepControl]="firstFormGroup">
                <div class="panel panel-info">
                    <div class="panel-heading"> <strong>Introduzca el código enviado a su celular</strong> </div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">
                            <mat-form-field>
                                <input matInput placeholder="Código" type="number" [(ngModel)]="codigo" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <br />
                            <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                            <button class="btn btn-success" (click)="onShowOffers()">Estudiar Documentos</button>
                        </form>
                    </div>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>