<div class="row">
    <div class="container">

        <mat-horizontal-stepper linear #stepper>

            <mat-step [stepControl]="secondFormGroup">
                <div class="jumbotron">
                    <h1>Crédito fácil</h1>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sin Filas <br />
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sin Papeles <br />
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Conoce tu cupo en minutos <br />
                    <br/>
                    <button class="btn btn-primary btn-lg" matStepperNext>Conocer más</button>
                </div>
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Star
                </button>

            </mat-step>

            <mat-step [stepControl]="firstFormGroup">
                <div class="jumbotron">
                    <h1>Tarjeta de crédito Joven</h1>
                    <p>...</p>

                    <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                    <button class="btn btn-primary" matStepperNext>Siguiente</button>

                </div>


            </mat-step>

            <mat-step [stepControl]="firstFormGroup">
                <div class="jumbotron">
                    <h1>Crédito de Vivienda</h1>
                    <p>...</p>

                    <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                    <button class="btn btn-primary" matStepperNext>Siguiente</button>

                </div>

            </mat-step>

            <mat-step>
                <div class="jumbotron">
                    <h1>Crédito de Vivienda</h1>
                    <p>...</p>
                    <button class="btn btn-primary" matStepperPrevious>Regresar</button>

                </div>


            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>