<div class="row">
    <div class="container">
        <br />
        <button type="button" class="btn btn-success btn-lg" (click)="onCreditRequest()">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Solicitelo Aqui
        </button>
        <mat-horizontal-stepper linear #stepper>
            <mat-step>
                <div class="jumbotron">
                    <h1><strong>Crédito Fácil</strong></h1>
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sin Filas </p>
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sin Papeles </p>
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Cupo en Minutos </p>
                    
                    <button class="btn btn-primary btn-lg" matStepperNext>Conocer más</button>
                </div>
            </mat-step>

            <mat-step>
                <div class="jumbotron">
                    <h1><strong>Beneficios</strong></h1>
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sin cuota de manejo</p> 
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Descuentos especiales</p>
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Viaje asegurado</p>
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Asistencia 24/7</p> 
                    <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ajustada a tus necesidades</p> 

                    <br />
                    <button class="btn btn-primary" matStepperPrevious>
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Regresar
                    </button>
                    <button class="btn btn-primary" matStepperNext> Siguiente
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <div class="jumbotron">
                    <h1><strong>Primera tarjeta</strong></h1>
                    <p>Empezar con tu vida crediticia y hacer realidad tus sueños</p>

                    <button class="btn btn-primary" matStepperPrevious>
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Regresar
                    </button>
                    <button class="btn btn-primary" matStepperNext> Siguiente
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <div class="jumbotron">
                    <h1><strong>Tarjeta Premium</strong></h1>
                    <p>Si lo tuyo es viajar, tener ofertas exclusivas y tener beneficios únicos</p>

                    <button class="btn btn-primary" matStepperPrevious>
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Regresar
                    </button>
                    <button class="btn btn-primary" matStepperNext> Siguiente
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    </button>
                </div>
            </mat-step>

            <mat-step>
                <div class="jumbotron">
                    <h1><strong>Tarjeta Experiencia</strong></h1>
                    <p>Experiencias inolvidables, realiza tus sueños y los de tu familia</p>

                    <button class="btn btn-primary" matStepperPrevious>
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Regresar
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>