<div class="row">
    <div class="container">

        <mat-horizontal-stepper linear #stepper>

            <mat-step [stepControl]="secondFormGroup">
                <div class="panel panel-info">
                    <div class="panel-heading"> </div>
                    <div class="panel-body">
                        <form [formGroup]="secondFormGroup">
                            <span class="label label-info">¿Cuál es tu número de documento?</span>
                            <br/>
                            <mat-form-field>
                                <input matInput type="number" [(ngModel)]="documento" formControlName="secondCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button class="btn btn-primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>

            <mat-step [stepControl]="firstFormGroup">

                <div class="panel panel-info">
                    <div class="panel-heading"> </div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">
                            <span class="label label-info">¿Cuál es tu nombre?</span>
                            <br/>
                            <mat-form-field>
                                <input matInput placeholder="Nombre, Apellido" [(ngModel)]="name" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <br/>
                            <span class="label label-info">¿Cuál es tu correo electrónico?</span>
                            <br/>
                            <mat-form-field>
                                <input matInput placeholder="correo@dominio.com" [(ngModel)]="email" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                                <button class="btn btn-primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>

            <mat-step [stepControl]="firstFormGroup">
                <div class="panel panel-info">
                    <div class="panel-heading"> </div>
                    <div class="panel-body">
                        <form [formGroup]="firstFormGroup">
                            <span class="label label-info">¿Cuál es tu Ingreso Mensual?</span>
                            <br/>
                            <mat-form-field>
                                <div class="input-group">
                                    <input matInput type="number" [(ngModel)]="salary" class="form-control"
                                        formControlName="firstCtrl" required>
                                </div>
                            </mat-form-field>
                            <div>
                                <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                                <button class="btn btn-primary" matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>

            <mat-step>
                <div class="panel panel-info">
                    <div class="panel-heading">¿Es correcto?</div>
                    <div class="panel-body">
                        <h5>Documento: {{documento}}</h5>
                        <h5>Nombre: {{name}}</h5>
                        <h5>Correo Electrónico: {{email}}</h5>
                        <h5>Salario: {{salary}}</h5>
                        <div>
                            <button class="btn btn-primary" matStepperPrevious>Regresar</button>
                            <button class="btn btn-success" (click)="onShowOffers()">Solicitar</button>
                            <button class="btn btn-danger" (click)="stepper.reset()">Reiniciar</button>
                        </div>
                    </div>
                </div>

            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>